[server]
host = 172.16.209.110
port = 18888
worker = 5
log_dir = /var/log/otomat-server
server_log = otomat-server.log
report_log = otomat-report.log
email_log = email.log

[database]
host = 127.0.0.1
user = otomat
password = otomat
defaultdb = otomat

[rrdtool]
host = 172.16.209.12,172.24.0.21,172.16.209.22,172.16.209.23
cpu = cpu.rrd
mem = mem.rrd
disk = disk.rrd
network = nic.rrd
dir = /var/lib/otomat

[graph]
cpu = cpu.png
mem = mem.png
disk = disk.png
network = nic.png


[client]
host = 127.0.0.1
log_dir = /var/log/otomat-agent
log = otomat-agent.log
port = 18889
nic = eth0

[email]
local = local@gmail.com
remote = yangjunfei@che001.com

