<html>
<head>
<title>Otomat</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Otomat.jpg) -->
<table id="__01" width="1595" height="768" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="8">
			<img src="images/Otomat_01.jpg" width="1594" height="8" alt=""></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="8" alt=""></td>
	</tr>
	<tr>
		<td colspan="4" rowspan="3">
			<img src="images/Otomat_02.jpg" width="1254" height="168" alt=""></td>
		<td>
			<img src="images/register.gif" width="76" height="34" alt=""></td>
		<td rowspan="7">
			<img src="images/Otomat_04.jpg" width="18" height="721" alt=""></td>
		<td rowspan="2">
			<img src="images/Search.gif" width="220" height="42" alt=""></td>
		<td rowspan="7">
			<img src="images/Otomat_06.jpg" width="26" height="721" alt=""></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="34" alt=""></td>
	</tr>
	<tr>
		<td rowspan="6">
			<img src="images/Otomat_07.jpg" width="76" height="687" alt=""></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="8" alt=""></td>
	</tr>
	<tr>
		<td rowspan="5">
			<img src="images/Otomat_08.jpg" width="220" height="679" alt=""></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="126" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<img src="images/Otomat_09.jpg" width="661" height="553" alt=""></td>
		<td colspan="2">
			<img src="images/Logo.gif" width="285" height="97" alt=""></td>
		<td rowspan="4">
			<img src="images/Otomat_11.jpg" width="308" height="553" alt=""></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="97" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="images/Otomat_12.jpg" width="285" height="110" alt=""></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="110" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/login.gif" width="264" height="45" alt=""></td>
		<td rowspan="2">
			<img src="images/Otomat_14.jpg" width="21" height="346" alt=""></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="45" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/Otomat_15.jpg" width="264" height="301" alt=""></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="301" alt=""></td>
	</tr>
	<tr>
		<td colspan="8">
			<img src="images/below.gif" width="1594" height="39" alt=""></td>
		<td>
			<img src="images/&#x5206;&#x9694;&#x7b26;.gif" width="1" height="39" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>